GEMINI_API_KEY=
GEMINI_MODEL=gemini-3-pro-preview
GEMINI_MODEL_FLASH=gemini-flash-latest
GEMINI_MODEL_PRO=gemini-3-pro-preview
GEMINI_CONFIG=./geminiConfig.json
GEMINI_TIER=
MONGODB_URL=mongodb://localhost:27017/ConceptualAI
DB_NAME=headlessconceptual
JWT_SECRET=
HEADLESS_URL=
MAX_CONCURRENT_SANDBOXES=