openapi: 3.0.0
info:
  title: Social Media API
  description: API for a social media application enabling image sharing, liking, commenting, and following.
  version: 1.0.0
servers:
  - url: https://api.socialapp.com/v1
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
    Profile:
      type: object
      properties:
        username:
          type: string
        name:
          type: string
        bio:
          type: string
        bioImageUrl:
          type: string
    AuthResponse:
      type: object
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
        user:
          $ref: '#/components/schemas/User'
    Post:
      type: object
      properties:
        id:
          type: string
        authorId:
          type: string
        caption:
          type: string
        mediaId:
          type: string
        createdAt:
          type: string
          format: date-time
        likeCount:
          type: integer
        commentCount:
          type: integer
    Comment:
      type: object
      properties:
        id:
          type: string
        authorId:
          type: string
        text:
          type: string
        createdAt:
          type: string
          format: date-time
    Asset:
      type: object
      properties:
        id:
          type: string
        url:
          type: string
        status:
          type: string
          enum: [uploading, processing, ready, failed]

security:
  - bearerAuth: []

paths:
  /auth/register:
    post:
      summary: Register a new user
      description: Creates a new user credential and returns a session.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'

  /auth/login:
    post:
      summary: Login
      description: Authenticates a user and returns access/refresh tokens.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'

  /auth/refresh:
    post:
      summary: Refresh Session
      description: Exchange a valid refresh token for a new access/refresh token pair.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refreshToken
              properties:
                refreshToken:
                  type: string
      responses:
        '200':
          description: Tokens refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'

  /auth/logout:
    post:
      summary: Logout
      description: Revokes the current session.
      responses:
        '204':
          description: Logged out successfully

  /users/me:
    get:
      summary: Get Current User Profile
      description: Retrieve profile information for the authenticated user.
      responses:
        '200':
          description: Profile found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
    put:
      summary: Update Profile
      description: Update the authenticated user's profile details.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                name:
                  type: string
                bio:
                  type: string
                bioImageUrl:
                  type: string
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean

  /users/{username}:
    get:
      summary: Get User Profile
      description: Retrieve public profile information for a specific user by username.
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Profile found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Profile'
                  - type: object
                    properties:
                      followerCount:
                        type: integer
                      followingCount:
                        type: integer
        '404':
          description: User not found

  /users/{userId}/follow:
    post:
      summary: Follow User
      description: Creates a following relationship from the current user to the target user.
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Followed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
    delete:
      summary: Unfollow User
      description: Removes the following relationship.
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Unfollowed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean

  /media:
    post:
      summary: Upload Media
      description: Upload a file asset to MediaHosting to be used in a post. Returns an asset ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - sourceUrl
                - type
              properties:
                sourceUrl:
                  type: string
                  description: "Pre-signed URL or raw source URL where the file is located"
                type:
                  type: string
                  enum: [image, video]
      responses:
        '201':
          description: Asset created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'

  /posts:
    get:
      summary: View Feed
      description: Get a stream of posts from users the current user follows.
      responses:
        '200':
          description: Feed retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Post'
    post:
      summary: Create Post
      description: Create a new post with a caption and a reference to an uploaded media asset.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - caption
                - mediaId
              properties:
                caption:
                  type: string
                mediaId:
                  type: string
      responses:
        '201':
          description: Post created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'

  /posts/{postId}:
    get:
      summary: Get Post Detail
      description: Retrieve a single post by ID.
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Post details retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Post'
                  - type: object
                    properties:
                      isLikedByCurrentUser:
                        type: boolean

    delete:
      summary: Delete Post
      description: Delete a post authored by the current user.
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Post deleted

  /posts/{postId}/like:
    post:
      summary: Like Post
      description: Add a like to a specific post.
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Liked successfully
    delete:
      summary: Unlike Post
      description: Remove a like from a specific post.
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Unliked successfully

  /posts/{postId}/comments:
    get:
      summary: Get Post Comments
      description: Retrieve all comments for a specific post.
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Comments retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Comment'
    post:
      summary: Add Comment
      description: Add a text comment to a post.
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - text
              properties:
                text:
                  type: string
      responses:
        '201':
          description: Comment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
